/* nav bar */

/* carousel */

/* cards 1 */
.card-header {
    color: #ffffff;
    background-color: #000000;
}
/* cards 2 */
.div-2-botao {
    background-color: #9353ff;
    color: #ffffff;
}
/* section */
.texto-menor {
    font-size: 13px;
}
.divs-facilidade {
    width: 325px;
    color: #ffffff;
}
.section-div-icon {
    color: #daff01;
}
.section-1-h2 {
    color: #ffffff;
}

/* formulario */

/* footer */
.footer-p {
    color: #ffffff;
}